{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{{ data.cred.title  }} - {% trans "Rattic" %}{% endblock %}

{% block content %}
<h1>{{ data.cred.title }}</h1>
<table class="table table-striped table-bordered table-condensed">
{% if user.is_staff %}
<tr>
  <th>{% trans "Requested by" %}</th>
  <td><span id="requestedby"><a href="{% url "staff.views.userdetail" data.user.id %}">{{ data.user.username }}</a></span></td>
</tr>
{% endif %}
<tr>
  <th>{% trans "Username" %}</th>
  <td><span id="username">{{ data.cred.username }}</span></td>
</tr>
<tr>
  <th>{% trans "Credential"%}</th>
  <td>
    {% if link %}
      <a href="{% url link data.cred.id %}">{{ data.cred.title }}</a>
    {% else %}
      {{ data.cred.title }}
    {% endif %}
  </td>
</tr>
<tr>
  <th>{% trans "Requested Date" %}</th>
  <td>{{ data.created }}</td>
</tr>
{% if data.date_granted %}
<tr>
  <th>{% trans "Granted Date" %}</th>
  <td><span id="granted_date">{{ data.date_granted }}</span></td>
</tr>
{% endif %}
{% if data.date_expired %}
<tr>
  <th>{% trans "Expired Date" %}</th>
  <td><span id="expired_date">{{ data.date_expired }}</span></td>
</tr>
{% endif %}
<tr>
  <th>{% trans "State" %}</th>
  {% if data.state == 0 %}
    <td style="background-color:#FFFF00">
      <span id="state">{% trans "Pending" %}</span>
    </td>
  {% elif data.state == 1 %}
    <td style="background-color:#00FF00">
      <span id="state">{% trans "Granted" %}</span>
    </td>
  {% elif data.state == 2 %}
    <td style="background-color:#FF0000">
      <span id="state">{% trans "Refused" %}</span>
    </td>
  {% else %}
    <td style="background-color:#FF0000">
      <span id="state">{% trans "Expired" %}</span>
    <td>
  {% endif %}
</tr>
</table>

<strong>{% trans "Description:" %}</strong>
<pre>{{ data.description }}</pre>
{% endblock %}

